# SillyProxmox Storage Configuration
# Retrieved: 2026-03-23

dir: local
    path /var/lib/vz
    content iso,vztmpl,backup

zfspool: local-zfs
    pool rpool/data
    sparse
    content images,rootdir
